@model AkıllıAraba.Models.VehiclesViewModel
<div class="container mt-3 ">
    <div class="w-75 mx-auto">
        <div class="card">
            <div class="card-header bg-dark">
                <h3 class="text-white">Araç Ekleme</h3>
            </div>
            <div class="card-body">
                <form action="">
                    <div class="input-group form-group ">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-car"></i></span>
                        </div>
                        @Html.TextBoxFor(p => p.plate, new { @class = "form-control form-control col-12", placeholder = "Plaka" })
                        @Html.ValidationMessageFor(m => m.plate, "", new { @style = "color:red" })
                    </div>
                    <div class="form-group input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-globe"></i></span>
                        </div>
                        @Html.DropDownListFor(p => p.plate_code, (IEnumerable<SelectListItem>)ViewBag.City, "--- Model ---", new { @class = "form-control col-12" })
                        @Html.ValidationMessageFor(m => m.plate_code, "", new { @style = "color:red" })
                    </div>
                    <div class="form-group input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-tint"></i></span>
                        </div>
                        @if (ViewBag.Brands != null)
                        {
                            @Html.DropDownListFor(p => p.VehicleBrandList, (IEnumerable<SelectListItem>)ViewBag.Brands, "--- Model ---", new { @class = "form-control col-12" })
                            @Html.ValidationMessageFor(m => m.VehicleBrandList, "", new { @style = "color:red" })
                        }
                    </div>
                    <div class="form-group input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-tint"></i></span>
                        </div>
                        @Html.DropDownListFor(p => p.VehicleModelList, new SelectList(""), "--- Model ---", new { @class = "form-control col-12" })
                        @Html.ValidationMessageFor(m => m.VehicleModelList, "", new { @style = "color:red" })
                    </div>
                    <div class="form-group input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-tint"></i></span>
                        </div>
                        @Html.DropDownListFor(p => p.color, (IEnumerable<SelectListItem>)ViewBag.Color, "--- Model ---", new { @class = "form-control col-12" })
                        @Html.ValidationMessageFor(m => m.color, "", new { @style = "color:red" })
                    </div>
                    <div class="form-group input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-gas-pump"></i></span>
                        </div>
                        @Html.DropDownListFor(p => p.engine_model, (IEnumerable<SelectListItem>)ViewBag.EngineModel, "--- Model ---", new { @class = "form-control col-12" })
                        @Html.ValidationMessageFor(m => m.engine_model, "", new { @style = "color:red" })
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary btn-lg btn-block" type="submit">Yeni Araç Ekle</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('#VehicleBrandList').change(function () {
            $.get("/Users/SelectVehicle", { id: $("#VehicleBrandList").val() }, function (data) {
                $("#VehicleModelList").empty()
                console.log(data)
                $.each(data, function (index, row) {
                    $("#VehicleModelList").append("<option value ='" + row.Value + "'>" + row.Text + " </option>")
                })
            })
        })
    })
</script>










