@model  List<AkıllıAraba.Models.VehiclesViewModel>
<div class="card mb-3">
    <table class="table table-striped table-hover" id="TableList">
        <thead>
            <tr>
                <th>Plaka</th>
                <th>Marka</th>
                <th>Model</th>
                <th class="noshort">Yakıt Türü</th>
                <th class="noshort">Renk</th>
                <th>Şehir</th>
                <th class="noshort"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr class="@if (item.vehicle_state==1) { Write("table-danger"); } ">
                    <td>@Html.DisplayFor(m => item.plate)</td>
                    <td>@Html.DisplayFor(m => item.brand)</td>
                    <td>@Html.DisplayFor(m => item.model)</td>
                    <td>@Html.DisplayFor(m => item.engine_model)</td>
                    <td>@Html.DisplayFor(m => item.color)</td>
                    <td>@Html.DisplayFor(m => item.city_code)</td>
                    <td style="text-align:center">
                        <div class="btn-group btn-group-md">
                            <a class="btn btn-outline-secondary btn-md" title="Detay" data-toggle="tooltip" data-placement="left" href="@Url.Action("Details","Vehicles",new {Id = item.user_id})"><i class="fa fa-eye"></i></a>
                            <button type="button" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split" title="İşlemler"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-reference="parent">
                                <span class="sr-only">İşlemler</span>
                            </button>
                            <div class="dropdown-menu">
                                @if (User.IsInRole("99"))
                                {
                                    @Html.ActionLink("Sil", "Delete", "Vehicles", new { id = item.user_id }, new { @class = "dropdown-item" })
                                }
                                @Html.ActionLink("Konum", "Location", "Vehicles", new { id = item.user_id }, new { @class = "dropdown-item" })
                                @Html.ActionLink("Araç Detay", "VehicleDetail", "Vehicles", new { id = item.user_id, plate = item.plate }, new { @class = "dropdown-item" })

                            </div>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<style>
    .pagination {
        font-size: 15px;
    }

        .pagination li a {
            margin-left: 15px;
        }

    #TableList_wrapper {
        margin-top: 15px
    }
</style>
<script>
    $(document).ready(function () {
        $('#TableList').DataTable({
            "lengthMenu": [5, 15, 25, 50],
            "order": [0, "asc"],
            "processing": true,
            "columnDefs": [
                {
                    targets: ["noshort"],
                    orderable: false
                }
            ],
            "language": {
                "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Turkish.json",
            }
        });
    });
</script>